<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
	<service licenseKey="0d3720495f956ef5e1e571efffcac292FFFFNRAL" />
	<application>
		<name>FGC.API</name>
	</application>
	<logging level="debug" />
	<transactionTracer enabled="true" transactionThreshold="apdex_f" />
	<errorCollector enabled="true" />
</configuration>